streamlit==1.49.1

langchain==0.3.27
langchain-community==0.3.29
langchain-core>=0.3.76,<0.4.0
langchain-text-splitters==0.3.9
langchain-chroma==0.2.6
langchain-huggingface==0.3.1
langgraph==0.6.7

chromadb==1.0.20

sentence-transformers==5.1.0
transformers==4.56.1
torch==2.8.0

groq==0.31.1

pypdf==6.0.0

python-dotenv==1.1.1

huggingface-hub==0.34.4

numpy==2.3.2
pandas==2.3.2

scikit-learn==1.7.1
scipy==1.16.2

requests==2.32.5

GitPython==3.1.45

watchdog==6.0.0

protobuf==6.32.0

typing-extensions==4.15.0

SQLAlchemy==2.0.43

PyYAML==6.0.2

tqdm==4.67.1

tenacity==9.1.2

httpx==0.28.1

aiohttp==3.12.15

gTTS==2.5.4

SpeechRecognition==3.14.3

streamlit-mic-recorder==0.0.8
